.features {
  padding: 20rem 0 12rem 0;
  background: linear-gradient(to right bottom, #7ed56fb7, #28b485b4),
    url('../../img/nat-4.jpg') no-repeat center center/cover;

  transform: skewY(-8deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(8deg);
  }

  @include respond(phone) {
    padding: 15rem 0 7rem 0;
  }

  @include respond(tab-protrait) {
    padding: 15rem 0 7rem 0;
  }
}

.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
  transition: 0.2s all ease-in-out;

  @include respond(phone) {
    padding: 2rem 5rem;
  }

  @include respond(tab-protrait) {
    padding: 2rem 2rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.6);
  }

  &__icon {
    font-size: 6rem;
  }

  &__text {
  }
}
