.heading-primary {
  text-transform: uppercase;
  font-weight: 400;
  backface-visibility: hidden;

  &--main {
    @include heading-primary(3rem, 5.75rem);
    animation: moveInLeft 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 4rem;
    }
  }

  &--sub {
    @include heading-primary(1.35rem, 1.6rem);
    animation: moveInRight 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary {
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 0.3s ease-in-out;
  letter-spacing: 0.2rem;

  &:hover {
    transform: skew(5deg) skewY(0.5deg) scale(1.05);
    text-shadow: 1px 2px 2rem #0000006b;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  @include respond(tab-protrait) {
    font-size: 3rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-text-dark;
  letter-spacing: 1px;
}

.paragraph {
  font-size: 1.4rem;
  color: $color-text-dark;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
