.stories {
  position: relative;
  padding: 10rem 0 0 0;
}

.slider {
  position: relative;
  height: 55rem;
}

.story {
  width: 75%;
  color: $color-text-dark;
  border-radius: 3px;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-8deg);

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%); //For shape
    clip-path: circle(50% at 50% 50%); //For shape

    transform: translateX(-3rem) skewX(8deg);
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: 0.4s all ease-in-out;
  }

  &__caption {
    @include position-absolute(100%, 50%);
    opacity: 0;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-weight: bold;
    font-size: $default-font-size;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s all ease-in-out;
  }

  &__text {
    transform: skewX(8deg);
  }

  &:hover &__caption {
    opacity: 1;
    top: 50%;
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}

.slide {
  background-color: rgba($color-white, 0.6);
  box-shadow: 0 3rem 6rem rgba(#000, 0.1);
  padding: 6rem 6rem 6rem 9rem;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.prevSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}
