@mixin clearFix() {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin position-absolute($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin heading-primary($letSpec, $fSize) {
  letter-spacing: $letSpec;
  font-size: $fSize;
  display: block;
}

@mixin animation($opacity1, $opacity2, $transform1, $transform2, $transform3) {
  0% {
    opacity: $opacity1;
    transform: $transform1;
  }
  80% {
    transform: $transform2;
  }
  100% {
    opacity: $opacity2;
    transform: $transform3;
  }
}

//Media Query Manager
/*
0-600px     : Mobile designs
600-900px   : Tablet Portrait designs
900-1200px  : Tablet Landscape designs
1200-1800px : Our initial design applies (Desktop)
1800px++    : Design for big desktop

Breakpoint argument choices are
1.phone         : 600px / 37.5em
2.tab-protrait  : 900px / 56.25em
3.tab-landscape : 1200px / 75em
4.big-desktop   : 1800px / 112.5em
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media only screen and (min-width: 0em) and (max-width: 37.5em) {
      @content;
    }
  }

  @if ($breakpoint == tab-protrait) {
    @media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
      @content;
    }
  }

  @if ($breakpoint == tab-landscape) {
    @media only screen and (min-width: 56.25em) and (max-width: 75em) {
      @content;
    }
  }

  @if ($breakpoint == big-desktop) {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
